.resposta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 12vh;
    margin:0.5vw 0;
}

.conteudoResposta{
    position: relative; 
    justify-content: space-around;
    display: flex;
    flex: 1;
}

.frente, .verso{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.frente{
    color: #000;
    border-radius: 1.5vw;
    padding: 2.5vw;
    align-items: center;
    background-color: #FFF;
}

.verso > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 1.5vw;    
}

.certa{
    background-color: #2bAA6d;
}

.errada{
    background-color: #E44;
}

.certa .valor, .errada .valor {
    font-size: 2rem;
}

.letra{
    height: 6vh;
    width: 3vw;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    font-weight: 700;
    margin-right: 5rem;
    color: #FFF;
}

.valor{
    font-weight: 700;
    font-size: 1.3vw;
}